
/* iBio Nav */
/* iBioCrossSiteNav, made to look like original iBiology.org nav, which is implemented in WordPress using Genesis.  */

.ibio-nav {
  background: #333;
  height: 44px;
  display: block;
  z-index: 998;

  .ibio-nav-wrap {

    margin: 0 auto;
    max-width: 1180px;
    height: 44px;

    ul {
      list-style: none;
      position: relative;
      float: right;
      margin: 0;
      padding: 0;
      background: #333;

      li {
        position: relative;
        float: left;
        margin: 0;
        padding: 0;

        &.current {
          background-color: #5bb1f9;
          color: #fff;
        }

        a {
          font-size: 12px;
          font-weight: 700;
          line-height: 1;
          padding: 16px;
          display: block;
          color: #fff;
          text-decoration: none;
          font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

          &:hover {
            color: #000;
            background-color: #5bb1f9;
          }

        }

        ul {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          background: #333;
          padding: 0;
          z-index: 1000;

          li {
            float: none;
            width: 200px;
            a {
              line-height: 120%;
              padding: 10px 15px;
            }
          }
        }

        &:hover {
          color: #000;
          ul {
            display: block;
          }
        }
      }

    }
  }
}

/* COURSE NAVIGATION */