<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About iBiology Courses")}</%block>

<main id="main" aria-label="Content" tabindex="-1">

	  <section class="breadcrumb">
		<div class="row" >
			<div class="col col-12" style="width:100%;">
				<a href="/">iBiology Courses </a> :: About
			</div>
		</div>
	</section>


  <section class="container about">

	  <div class="ibio-page-header">
		  <h1>${_("About iBiology Courses")}</h1>
	  </div>

    <h2>About iBiology Courses</h2>

    <p>This site introduces iBiology Courses, an experimental version of an online learning system for iBiology. It is based on the
      <a href="https://open.edx.org/">Open edX</a> open source software and is a work in progress.</p>

	    <a name="study"></a>

		  <h2>The iBiology Courses Research Study</h2>
		  <p>When you sign up as a student on iBiology Courses, we ask you to agree to be part of our research study. iBiology Courses is a research study led by Ron Vale, PhD,
			  Professor of Cellular and Molecular Pharmacology at the University of California, San Francisco and Investigator of the Howard Hughes Medical Institute.
			  This study is funded by National Institute of General Medical Sciences. You are invited to participate in this study because you are enrolled in a course on
			  iBiology Courses or have been sent a link to an online survey or questionnaire. You have the right to know about the procedures, risks, and benefits of the research study.</p>

		    <h3>What should I know about this research study?</h3>
		    <p>Participating in research is your choice and voluntary.</p>
		      <ul>
			      <li>If you decide to take part, you can change your mind later and leave the study at any time.</li>
			      <li>No matter what decision you make, there will be no penalty to you.</li>
			      <li>When applicable, no matter what decision you make, you are still required to complete course assignments to earn credit for the course.</li>
			      <li>You can ask any question you want before you decide to participate in this study.</li>
		      </ul>

		    <h3>Why is this research being done?</h3>
		    <p>Through this study, we hope to develop content that will improve the professional development of
			    graduate students and post-doctoral scholars in the life sciences.By participating in this study,
			    you will help us evaluate what is effective, and whether our content is providing a good professional
			    development experience.</p>

	      <h3>What happens if I say yes, I want to be in this research?</h3>

		    <p>If you decide to participate in this study, you will be asked to allow researchers to analyze
			    responses and answers to quizzes, surveys,and assignments. This will require no action
			    from you, and your name will not be associated with your answers. What happens if I do
			    not want to be in this research?You may decide not to take part in the research and
			    it will not be held against you.What happens if I say yes, but I change my mind later?</p>

		    <p>You can leave the research at any time and it will not be held against you. If you decide to leave the research, contact the investigator or
	      iBiology staff so that the investigator can take note of it.</p>

	      <h3>Is there any way being in this study could be bad for me?</h3>
	      <p>There is minimal risk to participating in this study.</p>

	      <h3>Will being in this study help me in any way?</h3>
	      <p>You may not directly benefit from taking part in this research. However, the information we get from this study may help
		      us improve the design of content with better experiences and satisfaction.</p>

	      <h3>What happens to the information collected for the research?</h3>

	      <p>We will do our best to make sure that your information will be kept confidential. However, we cannot guarantee total privacy.
		      Your personal information may be released if required by law. To minimize the risks of a breach in confidentiality, we will use ID numbers
		      instead of names on all study records, and keep any data on password-protected computers. If information from the study is published
		      or presented at specific meetings, your name and other personal information will not be used.</p>

	      <h3>What else do I need to know?</h3>
	      <p>There is no cost to you beyond the time and effort required to complete the procedures described above.
		      You will not be paid for taking part in this study.</p>

	      <h3>What if I have other questions</h3>
	      <p> If you have questions or concerns? Please email Sarah Goodwin at <a href="mailto:sarah.goodwin@ucsf.edu">sarah.goodwin@ucsf.edu</a> or Ron Vale(study PI)
		      <a href="ron.vale@ucsf.edu">ron.vale@ucsf.edu</a>. To contact the UCSF Human Research Protection Program email <a href="mailto:chr@ucsf.edu">chr@ucsf.edu</a> or call 415-476-1814.

	  </p>


  </section>
</main>