<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<main id="main" aria-label="Content" tabindex="-1">

	<section class="container privacy-policy">

		<h1>${_("Privacy Policy")}</h1>


		<p>Last updated: October 22, 2017</p>

		<p>Our Privacy Policy applies to information we collect when you use https://www.ibiology.org/
			and any other websites, social media platforms including, without limitation Facebook, Twitter,
			YouTube, Google+ and services that are owned and/or controlled by us (collectively, the “Website”).
			Our Privacy Policy is designed to assist you in understanding how iBiology, Inc. (“Company”, “we,” or “us”)
			collects and uses the personal information you provide to us and to assist you in making informed decisions
			when using our Website and our products and services.</p>


		<h2>Your Consent</h2>
		<p>By using our Website, you consent to the collection and use of information by us as set forth in this Privacy Policy. If we decide to change our Privacy Policy, we will post those changes on this page so that you will always be aware of what information we collect, how we use it, and under what limited circumstances, if ever, we disclose it. Continued access or use of our Website shall constitute your express acceptance of any modifications to this Privacy Policy.</p>

		<p>This Privacy Policy does not cover information that you submit on other websites, even if we communicate with you on those sites. For example, if you post something on Facebook, Twitter, or YouTube, that information is governed by the privacy policies on those websites, and is not governed by this policy.
.</p>

		<h2>Privacy Policy Sections</h2>
		<ul>
			<li><a href="#collect">What information we collect?</a></li>
			<li><a href="#use">How we use this information?</a></li>
			<li><a href="#protect">What we do to protect your privacy</a></li>
		</ul>

		<a id="collect"></a>
		<h2>What Information Do We Collect?</h2>

		<p>We collect four kinds of information:</p>

		<ol>
			<li>
				Personal information that you directly provide to us, which includes information you supply when you register an
				account with us and save items to your profile.
			</li>
			<li>
				Non-personal information that's automatically gathered as you use iBiology.org or YouTube, which includes
				tracking information for our Website.
			</li>
			<li>
				Cookies (explained further below), to help us understand what areas of the Website are most useful and
				interesting to our audience.
			</li>
			<li>
				Information you provide directly to us for example if you chose to correspond with us through email, we may
				retain the content of your email messages together with your email address and our responses.
			</li>
		</ol>

		<h3>Account Information</h3>

		<p>
			When you register an account with us, we ask for basic information such as email,
			name and password, and give you the option to provide additional information.
			We also collect activities you generate by favoriting, saving or watching talks.
		</p>

		<h3>
			Non-personal Information Collected Automatically
		</h3>


		<p>This type of information relates to how many views are associated with each iBiology talk, how many
			times talks are saved or favorited, and/or other areas of iBiology that automatically store non-personal
			information about the iBiology’s usage, popularity or positive or negative impact. We perform statistical
			analyses of users of the Website, and their viewing and participation patterns, for our own analysis and to
			present to our funders.
		</p>

		<h3>Device Information</h3>

		<p>We may collect non-personal information about the computer, mobile device or other device you
			use to access iBiology, such as IP address, geolocation information, unique device identifiers,
			browser type, browser language and other transactional information.

		<h3>Information Collected with Cookies and What are Cookies?</h3>

		<p>A cookie is a very small text document, which often includes an anonymous unique identifier.
			When you visit a site, that site's computer asks your computer for permission to store this
			file in a part of your hard drive specifically designated for cookies. Each site can send its
			own cookie to your browser if your browser's preferences allow it.</p>

		<p>Note that your browser settings may allow you to automatically transmit a “Do Not Track” signal to
			sites and online services you visit. There is no consensus among industry participants as to what
			“Do Not Track” means in this context. Like many websites and online services, we currently do not
			alter our practices when we receive a “Do Not Track” signal from a visitor’s browser. To find out
			more about “Do Not Track,” you may wish to visit <a
							href="http://www.allaboutdnt.com">http://www.allaboutdnt.com.</a></p>

		<h3>Tracking Usage</h3>

		<p>We use various technologies, including Google Analytics, to manage iBiology and track use of the content we
			provide, including: Standard Web Analytics InformationWe collect aggregated data about email click-through rates and video viewing
			through HTML cookies, Flash cookies, web beacons, and similar technologies; and demographics and other details that are provided to iBiology to help us customize
			the Website based on your preferences. Cookies provide a mechanism for us to understand how you use the Website over time so that we
			can provide you the best user experience according to your expressed preferences. We do not sell this information to any third party, but may provide
			information to partners that assist us in updating, managing or maintaining our Websites.</p>

		<h3>Location Information</h3>
		<p>We may collect and use information about your location (such as your country), but we don’t collect any exact
			data of you or your device. You can change the settings on your computer or mobile device to prevent your location information
			from being shared with us.</p>

		<a id="use"></a>
		<h2>How Do We Use This Information?</h2>
		<p>We use the information gathered to improve the Website and do not sell it to any third parties. Further specific
			uses are outlined below.</p>

		<h3>Providing Requested Services</h3>
		<p>We may use the information that we collect to fulfill your requests for services and information. For example,
			using your contact information to respond to your email requests, or to enable registration for services on our
			Website.</p>

		<h3>Communication</h3><p>We use the information we collect to send email newsletters
		(if you have signed-up for this information). We may also use the information that we collect to
		send you e-mail communications, such as information about your account or changes to the Website.</p>

		<h3>Enforcement</h3>
		<p>We may use the information that we collect to prevent illegal activities, to enforce the iBiology Terms of Use,
			or as otherwise required by law.</p>

		<h3>When Permitted</h3>
		<p>In addition to the uses identified above, we may use the information that we collect for any other purposes
			disclosed to you at the time we collect your information or pursuant to your consent.</p>

		<a id="protect"></a>
		<h2>Steps We Take to Protect Your Privacy</h2>
		<p>We take reasonable steps to have physical, electronic and procedural safeguards in place
			to help protect your Personal Information. This includes use of Secure Socket Layer (“SSL”)
			encryption. Unfortunately, no data transmission over the internet can be guaranteed to be 100%
			secure. As a result, while we strive to protect your personal information, we cannot guarantee
			or warrant the security of any information collected through our Website.</p>

		<h2>Children Under the Age of 13</h2>
		<p>Our Website is intended for a general audience over 18 years of age and not directed to children under 13 years of
			age. We do not intend to collect personal information as defined by the U.S. Children’s Privacy Protection Act (“COPPA”) (“Children’s Personal Information”) in a manner that is not permitted by COPPA.
			If you are a parent or guardian and believe we have collected Children’s Personal Information
			in a manner not permitted by COPPA, please contact us by sending a letter to the address
			listed below (Attention: Legal) and we will remove such data to the extent required by COPPA.</p>

		<h2>Deactivating Your Account and Managing Privacy Settings</h2>
		<p>You can request that your account be deactivated at any time by contacting us.
			When your account is deactivated, your user profile and all public activities (such as comments)
			will be hidden. To unsubscribe from our newsletters, click on the link at the bottom of a newsletter you have
			received.</p>

		<h2>How to Review, Change and Update Information You Provided that We Collected</h2>
		<p>You can login to your profile on the Website and edit or delete any information except basic
			information such as name, email and password are required to have an account. </p>

		<h2>Contact Us</h2>
		<p>We are always interested in what you have to say. If you have any questions or concerns about this Privacy Policy,
			please feel free to contact us online at <a href="mailto:info@ibiology.org">info@ibiology.org</a> or
			by mailing a letter to iBiology, MC2240, GHN476D, 600 16th street, San Francisco, CA 94143.</p>


	</section>
</main>
