<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
    from django.utils.translation import ugettext as _
    from django.core.urlresolvers import reverse
    from openedx.core.djangolib.markup import HTML, Text
    import random

    # RANDOM VIDEOS
    # Pick five videos from our complete speaker videos list
    # and write into the template.

    all_speaker_videos = [
        {
            "video_url":"V0hklsjf1Yc",
            "type": "speaker",
            "title": "Prachee Avasthi"
        },
        {
            "video_url":"uIv1H4Vxce8",
            "type": "speaker",
            "title": "Needhi Bhalla"
        },
        {
            "video_url":"5WVUOsnr8jA",
            "type": "speaker",
            "title": "Daniel Colon-Ramos"
        },
        {
            "video_url":"zSqGvoHjVUA",
            "type": "speaker",
            "title": "Doug Koshland"
        },
        {
            "video_url":"1CHoHKX1vy8",
            "type": "speaker",
            "title": "Katie Pollard"
        },
        {
            "video_url":"Zno5C0SRtAg",
            "type": "speaker",
            "title": "Neil Robbins II"
        },
        {
            "video_url":"w5vDdQTX45g",
            "type": "speaker",
            "title": "Ana Ruiz Saenz"
        },
        {
            "video_url":"TxQXo3XNg2w",
            "type": "speaker",
            "title": "Paul Turner"
        },
        {
            "video_url":"ASkKRvK20to",
            "type": "speaker",
            "title": "Ron Vale"
        },
        {
            "video_url":"1nDOrWetd6s",
            "type": "speaker",
            "title": "Uri Alon"
        },
        {
            "video_url":"_pZl7pofC9s",
            "type": "speaker",
            "title": "Angela DePace"
        },
        {
            "video_url":"XD2IxKd1PT0",
            "type": "speaker",
            "title": "Tejal Desai"
        },
        {
            "video_url":"JfYTL0LLhlQ",
            "type": "speaker",
            "title": "Cynthia Fuhrmann"
        },
        {
            "video_url":"kqZSbLBpcRQ",
            "type": "speaker",
            "title": "Ryan Hernandez"
        },
        {
            "video_url":"SWzZHnG-4rU",
            "type": "speaker",
            "title": "Asia Matthew-Onabanjo"
        },
        {
            "video_url":"i-KvrBpW-2A",
            "type": "speaker",
            "title": "Kassandra Ori-McKenney"
        },
        {
            "video_url":"kkK6_Akv9cw",
            "type": "speaker",
            "title": "Sabine Petry"
        },
        {
            "video_url":"P0aWoY_FBOM",
            "type": "speaker",
            "title": "Indira Raman"
        },
        {
            "video_url":"gdioxba2uXw",
            "type": "speaker",
            "title": "Randy Schekman"
        },
        {
            "type": "speaker",
            "video_url":"JKY3nxYOGLU",
            "title": "Clarissa Scholes"
        },
        {
            "video_url":"rDGZkhlMRec",
            "type": "speaker",
            "title": "Ben Vincent"
        },
        {
            "video_url":"U3eN-SzdgKI",
            "type": "speaker",
            "title": "Keith Yamamoto"
        },
    ]

    all_trailer_videos = [
        {
            "video_url":"sDi_wsvsojw",
            "type": "trailer",
            "title": "Planning Your Scientific Journey"
        },

        {
            "video_url":"sDnZJtniUQg",
            "type": "trailer",
            "title": "Let's Experiment"
        }
    ]


    all_videos = all_speaker_videos + all_trailer_videos

    # Pick random video for hero slider
    hero_video = random.sample(all_speaker_videos, 1)[0]
    try:
        hero_video_id = hero_video['video_url']
        hero_video_text = hero_video['title']
        type = hero_video['type']
        if type == "speaker":
            hero_video_pre_text = "Meet our speakers:"
        elif type == "trailer":
            hero_video_pre_text = "Course trailer:"
        else:
            raise Exception("Unrecognized video type {} for hero slider".format(type))
    except Exception as e:
        hero_video_id = "gI_JRiu4Qic"
        hero_video_pre_text = "Meet our speakers:"
        hero_video_text = "Asia Matthew-Onabanjo"


    # Pick random videos for speaker slider
    speaker_video_ids = []
    try:
        speaker_videos = random.sample(all_speaker_videos, 5)
        speaker_video_ids = [item['video_url'] for item in speaker_videos]
    except Exception as e:
        # If there's an error building random list, use
        # default list from earlier design.
        speaker_video_ids = [
            "0XlyTiGO794", #Keith Yamamoto
            "gI_JRiu4Qic", #Asia Matthew-Onabanjo
            "4_EIslN-qH0", #Radny Schekman
            "HHObjwfyJ0k", #Clarissa Scholes
            "PZJdCPU4_g8", #Ben Vincent
        ]

%>

<%block name="headextra">
    <!-- we only use these styles and scripts in index marketing page -->
    <link href="https://fonts.googleapis.com/css?family=Literata&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">

    <!-- page redesign -->
    <link href="/static/ibio-openedx-theme/css/ibio-slider.css" rel="stylesheet">
    <link href="/static/ibio-openedx-theme/css/tiny-slider.css" rel="stylesheet"/>
    <script src="/static/ibio-openedx-theme/js/tiny-slider.js"></script>

    <link href="/static/ibio-openedx-theme/css/wallop.css" rel="stylesheet">
    <link href="/static/ibio-openedx-theme/css/wallop--slide.css" rel="stylesheet">
    <script src="/static/ibio-openedx-theme/js/Wallop.min.js"></script>
</%block>

<main id="main" aria-label="Content" tabindex="-1">

    <section class="home">

        <div id="my-controls">
            <button><i class="fas fa-arrow-circle-left"></i></button>
            <button><i class="fas fa-arrow-circle-right"></i></button>
        </div>

        <header class="header-slider-container">

            <div class="hero-slider" onmouseover="onHeroSliderMouseOver()">

                <div class="slide main-slide">
                    <div class="main-slide-title">
                        <p>Helping you navigate<br/>your scientific journey.</p>
                    </div>

                </div>

                <div class="slide slide-2" style="position:relative;">

                    <div class="heart-holder"
                         style="position: absolute; bottom:40px; width:450px; right:0; z-index: -1;">
                        <img src="/static/ibio-openedx-theme/images/heart.png" style="width:100%;"/>
                    </div>

                    <div class="slider-testimonial">
                        <div class="inner-border">
                            <div class="quote-holder">
                                <div class="quote-header">
                                    Testimonial
                                </div>
                                <div class="quote">
                                    I loved the way this course was planned and executed. I enjoyed watching the videos,
                                    the
                                    information
                                    was extremely helpful and I am working on implementing the ideas into my everyday
                                    life!
                                </div>
                                <div class="quote-source">
                                    - Graduate student
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="slide slide-3" style="position:relative;">

                    <div class="video-icon-holder"
                         style="position: absolute; top:20px; width:450px; left:0; z-index: -1;">
                        <img src="/static/ibio-openedx-theme/images/video.png" style="width:100%;"/>
                    </div>

                    <div class="slider-video-wrapper">
                        <div class="video-wrapper">
                            <iframe id="hero_slider_video"
                                    src="https://www.youtube.com/embed/${hero_video_id}?enablejsapi=1&html5=1&origin=http://54.183.191.89/"
                                    frameborder="0"></iframe>
                        </div>
                    </div>

                    <div class="speaker-info">
                        ${ hero_video_pre_text }
                        <div class="speaker-name">
                            ${ hero_video_text }
                        </div>
                    </div>

                </div>

            </div>

        </header>

        <!--
        <div class="feature-bar">

        </div>
        -->

        <div class="courses-list-title">
            <h2>Our Courses</h2>
        </div>

        <%include file="${courses_list}" />

    </section> <!-- section home -->

    <section class="ibio-features">

        <div class="feature-row ibio-instructors">
            <div class="feature-container">
                <div class="col-graphic">

                    <div class="ibioSlider" >

                        <div id="videoSlider" class="Wallop Wallop--slide">
                            <button class="Wallop-buttonPrevious"></button>
                            <div class="Wallop-list">

                                <div class="Wallop-item">
                                    <div class="videoWrapper">
                                        <!-- Keith Yamamoto -->
                                        <iframe class="vidBio"
                                                width="560"
                                                height="315"
                                                src="https://www.youtube.com/embed/${ speaker_video_ids[0] }?rel=0&enablejsapi=1&origin=http://54.183.191.89/"
                                                frameborder="0"
                                                allowfullscreen></iframe>
                                    </div>
                                </div>

                                <div class="Wallop-item">
                                    <div class="videoWrapper">
                                        <!-- Asia Matthew-Onabanjo -->
                                        <iframe class="vidBio"
                                                width="560"
                                                height="315"
                                                src="https://www.youtube.com/embed/${ speaker_video_ids[1] }?rel=0&enablejsapi=1&origin=http://54.183.191.89/"
                                                frameborder="0"
                                                allowfullscreen></iframe>
                                    </div>
                                </div>

                                <div class="Wallop-item">
                                    <div class="videoWrapper">
                                        <!-- Randy Shenkman -->
                                        <iframe class="vidBio"
                                                width="560"
                                                height="315"
                                                src="https://www.youtube.com/embed/${ speaker_video_ids[2] }?rel=0&enablejsapi=1&origin=http://54.183.191.89/"
                                                frameborder="0"
                                                allowfullscreen></iframe>
                                    </div>
                                </div>

                                <div class="Wallop-item">
                                    <div class="videoWrapper">
                                        <!-- Cynthia Fuhrmann -->
                                        <iframe class="vidBio"
                                                width="560"
                                                height="315"
                                                src="https://www.youtube.com/embed/${ speaker_video_ids[3] }?rel=0&enablejsapi=1&origin=http://54.183.191.89/"
                                                frameborder="0"
                                                allowfullscreen></iframe>
                                    </div>
                                </div>

                                <div class="Wallop-item">
                                    <div class="videoWrapper">
                                        <!-- Ben Vincent -->
                                        <iframe class="vidBio"
                                                width="560"
                                                height="315"
                                                src="https://www.youtube.com/embed/${ speaker_video_ids[4] }?rel=0&enablejsapi=1&origin=http://54.183.191.89/"
                                                frameborder="0"
                                                allowfullscreen></iframe>
                                    </div>
                                </div>

                            </div>
                            <button class="Wallop-buttonNext"></button>
                        </div> <!-- ./Wallop -->
                        <div id="video-slider-position" class="slider-position">
                            <button class="slider-dot slider-dot-current" onclick="iBioVideoSlider.goTo(0)"></button>
                            <button class="slider-dot " onclick="iBioVideoSlider.goTo(1)"></button>
                            <button class="slider-dot " onclick="iBioVideoSlider.goTo(2)"></button>
                            <button class="slider-dot " onclick="iBioVideoSlider.goTo(3)"></button>
                            <button class="slider-dot " onclick="iBioVideoSlider.goTo(4)"></button>
                        </div>
                    </div> <!-- ./ibioSlider -->
                </div>
                <div class="col-content">
                    <h2>World-class Instructors</h2>
                    <p>Our courses will feature videos by top scientists and teachers from around the world.</p>
                    <p><a href="/speakers">More about our speakers >></a></p>
                </div>
            </div> <!-- ./feature-container-->
        </div> <!-- ./ibio-instructors -->

        <div class="feature-row  ibio-peers">
            <div class="feature-container">
                <div class="col-graphic">
                    <img src="/static/ibio-openedx-theme/images/community.png"
                         alt="Graphic of various people icons in grid."/>
                </div>
                <div class="col-content">
                    <h2>Peer Interaction</h2>
                    <p>Our courses encourage peer-to-peer interaction, because that's where learning happens.
                        Join a community of like-minded students and professionals who want to learn
                        more about biology and doing good science.</p>
                </div>
            </div> <!-- ./feature-container-->
        </div>


        <div class="feature-row ibio-testimonials">
            <div class="feature-container">
                <div class="col-graphic">

                    <div class="ibioSlider">
                        <div id="testimonialSlider" class="Wallop Wallop--slide">
                            <button class="Wallop-buttonPrevious"></button>
                            <div class="Wallop-list">
                                <div class="Wallop-item">
                                    <div class="testimonialWrapper">
                                        <p class="testimonial">I loved the way this course was planned and executed. I
                                            enjoyed watching the videos,
                                            the information was extremely helpful and I am working on implementing the
                                            ideas into my everyday life!</p>
                                        <p class="testimonial-source">Graduate student</p>
                                    </div>
                                </div>
                                <div class="Wallop-item">
                                    <div class="testimonialWrapper">
                                        <p class="testimonial">Great course!! Seriously this has vastly better prepared
                                            me for a career in academia than any other single course I've taken. </p>
                                        <p class="testimonial-source">Graduate student</p>
                                    </div>
                                </div>
                                <div class="Wallop-item">
                                    <div class="testimonialWrapper">
                                        <p class="testimonial">The sense of community this course fostered was really
                                            important for me. It not
                                            only provided me with important pieces of advice, it also showed me that
                                            I'm not alone in this journey and that many of my doubts and struggles are
                                            experienced by other people.</p>
                                        <p class="testimonial-source">Undergraduate student</p>
                                    </div>
                                </div>
                                <div class="Wallop-item">
                                    <div class="testimonialWrapper">
                                        <p class="testimonial">It completely reframed my mind on how to tackle my
                                            project! I loved it!</p>
                                        <p class="testimonial-source">Postdoc</p>
                                    </div>
                                </div>
                            </div>
                            <button class="Wallop-buttonNext"></button>
                        </div> <!-- ./Wallop -->
                        <div id="testimonial-slider-position" class="slider-position">
                            <button class="slider-dot slider-dot-current"
                                    onclick="iBioTestimonialSlider.goTo(0)"></button>
                            <button class="slider-dot " onclick="iBioTestimonialSlider.goTo(1)"></button>
                            <button class="slider-dot " onclick="iBioTestimonialSlider.goTo(2)"></button>
                            <button class="slider-dot " onclick="iBioTestimonialSlider.goTo(3)"></button>
                        </div>
                    </div> <!-- ./ibioSlider -->

                </div>
                <div class="col-content">
                    <h2>Rave Reviews</h2>
                    <p>Graduate students, post docs and undergrads alike tell us they enjoy and benefit from our
                        courses.</p>
                    <p><a href="/testimonials">Read more testimonials >></a></p>
                </div>
            </div> <!-- ./feature-container-->
        </div> <!-- ./ibio-instructors -->


        <div class="feature-row  ibio-openedx">
            <div class="feature-container">
                <div class="col-graphic">
                    <img src="/static/ibio-openedx-theme/images/edx-openedx-logo-tag.png" alt="Open edX logo"/>
                </div>
                <div class="col-content">
                    <h2>Top-notch Platform</h2>
                    <p>iBiology Courses is based on Open edX, the same software that
                        powers sites like edx.org and Stanford Online. That
                        means we have some excellent tools to create a great
                        learning environment for you.</p>
                </div>
            </div> <!-- ./feature-container-->
        </div>

        <div class="feature-row  ibio-register">
            <div class="feature-container">
                <div class="col-graphic">
                    <img src="/static/ibio-openedx-theme/images/compass.png" alt="iBiology Courses compass icon"/>
                </div>
                <div class="col-content">
                    <h2>Start Today</h2>
                    <p>Register today and get free access to our courses!</p>
                    <br/><br/>
                    <div class="btn-wrapper">
                        <a class="btn btn-blue" href="/register">Register Today</a>
                    </div>


                </div>
            </div> <!-- ./feature-container-->
        </div>

    </section> <!-- ./ibio-features -->

</main>

<%block name="js_extra">

    <script type="text/javascript">
        $(window).load(function () {
            if (getParameterByName('next')) {
                $('#login').trigger("click");
            }
        })
    </script>


    <script type="text/javascript">

        /* Load YOUTUBE Script first */
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);


        /* HERO SLIDER */
        var controls = document.getElementById('my-controls');
        var heroSlider = tns({
            container: '.hero-slider',
            items: 1,
            slideBy: 'page',
            autoplay: true,
            navPosition: 'bottom',
            controlsContainer: controls,
            autoplayButtonOutput: false
        });

        /* YOUTUBE VIDEOS SETUP*/

        /*
            iBio: Setup players for videos in Wallop slider
        */
        // TODO : Add to edxapp file and manage via RequireJS
        // Load the IFrame Player API code asynchronously.


        var ytplayerArr = [];
        var heroSliderPlayer;

        function onYouTubeIframeAPIReady() {
            var bios = document.querySelectorAll('.vidBio');
            bios.forEach(function (entry, index, array) {
                ytplayerArr.push(new YT.Player(entry));
            });

            heroSliderPlayer = new YT.Player('hero_slider_video', {
                host: "https://www.youtube-nocookie.com",
                videoId: ${hero_video_id},
                events: {
                    'onReady': onHeroVideoReady,
                    'onStateChange': onHeroSliderVideoStateChange
                }
            })

        }


        /* HERO SLIDER AND VIDEO EVENTS AND HANDLERS */

        function onHeroVideoReady() {
            // This is never called :-(
            console.log("onReady was called.");
        }

        function onHeroSliderVideoStateChange(event){
            console.log("onHeroSliderVideoStateChange was called.");
            if (event.state != -1 ){
                pauseHeroSlider();
            }
        }

        function pauseHeroSlider() {
            console.log("Pausing hero slider.");
            heroSlider.pause();
        }

        function pauseHeroMovie() {
            console.log("Pausing hero movie.");
            heroSliderPlayer.pauseVideo();
        }

        heroSlider.events.on('transitionStart', pauseHeroMovie);

        /* WALLOP SLIDER FOR VIDEOS AND TESTIMONIAL SECTIONS */

        /* VIDEO Slider */

        var wallopVideoEl = document.querySelector('#videoSlider');
        var iBioVideoSlider = new Wallop(wallopVideoEl);

        iBioVideoSlider.on('change', function (event) {
            var videoSelector = document.querySelector("#video-slider-position");
            var dots = videoSelector.querySelectorAll('.slider-dot');
            iBioSliderRemoveClass(videoSelector.querySelector('.slider-dot-current'), 'slider-dot-current');
            iBioSliderAddClass(dots[event.detail.currentItemIndex], 'slider-dot-current');
            //stop all videos
            for (var i = 0; i < ytplayerArr.length; i++) {
                ytplayerArr[i].stopVideo();
            }
        });

        /* TESTIMONIAL Slider */

        var wallopTestimonialEl = document.querySelector('#testimonialSlider');
        var iBioTestimonialSlider = new Wallop(wallopTestimonialEl);

        iBioTestimonialSlider.on('change', function (event) {
            var testimonialSelector = document.querySelector("#testimonial-slider-position");
            var dots = testimonialSelector.querySelectorAll('.slider-dot');
            iBioSliderRemoveClass(testimonialSelector.querySelector('.slider-dot-current'), 'slider-dot-current');
            iBioSliderAddClass(dots[event.detail.currentItemIndex], 'slider-dot-current');
        });

        /* WALLOP SLIDER add/remove functions */

        function iBioSliderAddClass(element, className) {
            if (!element) {
                return;
            }
            element.className = element.className.replace(/\s+$/gi, '') + ' ' + className;
        }

        function iBioSliderRemoveClass(element, className) {
            if (!element) {
                return;
            }
            element.className = element.className.replace(className, '');
        }

    </script>

</%block>

% if show_signup_immediately is not UNDEFINED:
    ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.

    <script type="text/javascript">
        $(window).load(function () {
            $('#signup_action').trigger("click");
        });
    </script>
% endif






