<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/tiny-slider.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/min/tiny-slider.js"></script>

</head>
<body>
<main id="main" aria-label="Content" tabindex="-1">

    <section class="home">

        <header class="header-slider-container" style="width:100%; height: 300px;">

            <div class="my-slider">

                <div class="slide main-slide" style="height:220px;background-color:red;">
                    <h1>Test 1</h1>
                </div>

                <div class="slide slide-2" style="width:100%; background-color:green;">
                    <h1>Test 2</h1>
                </div>

                <div class="slide slide-3" style="background-color:blue;">
                    <iframe id="hero-slider-video"
                            enablejsapi="true"
                            src="https://www.youtube.com/embed/V0hklsjf1Yc?rel=0&modestbranding=1&showinfo=0&enablejsapi=1"
                            frameborder="0"></iframe>
                </div>

            </div>

            <div id="my-controls">
                <button>Left</button>
                <button>Right</button>
            </div>

        </header>

        <!--
        <div class="feature-bar">

        </div>
        -->

        <div class="courses-list-title">
            <h2>Our Courses</h2>
        </div>


    </section> <!-- section home -->
</main>
<script type="text/javascript">
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);


    var hero_slider_video_player;

    function onYouTubeIframeAPIReady() {
        var bios = document.querySelectorAll('.vidBio');
        bios.forEach(function (entry, index, array) {
            ytplayerArr.push(new YT.Player(entry));
        });

        hero_slider_video_player = new YT.Player('hero-slider-video', {
            events: {
                'onReady': onHeroSliderVideoReady,
                'onStateChange': onHeroSliderVideoStateChange,
                'onError': onPlayerError
            }
        });
    }

    function onHeroSliderVideoReady(event) {
        console.log("Hero slider video ready");
    }

    function onHeroSliderVideoStateChange(event) {
        var playerStatus = event.data;
        if (playerStatus >= 0) {
            heroSlider.pause();
        }
    }

    function onPlayerError(event) {
        console.log(event);
    }


</script>
</body>


</html>


